body{
    font-family: "Open Sans", "Roboto", "sans-serif";
    color: #515151;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
.wraper{
    width: 100vw;
    margin: 0 auto;
    font-size: 0;
    line-height: 0;
}
header{
    width: 1110px;
    margin: 0 auto;
    padding: 40px 0;
    height: auto;
    overflow: hidden;
}
h1 a{
    font-family: "Roboto";
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
    color: #515151;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
h1{
    float: left;
    margin: 0px;
}
h1::first-letter{
    color: #1abc9c;
    font-size: 30px;
    line-height: 32px;
    font-weight: 900;
}
nav ul{
    margin: 0;
    padding: 0;
}
.nav-list{
    float: right;
    line-height: 32px;
}
.nav-list a{
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0101;
    line-height: 11px;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 900;
}
.nav-list li{
    list-style-type: none;
    text-align: center;
    float: left;
    margin-right: 25px;
}
.nav-list li:last-child{
    margin-right: 0;
}
a:hover{
    color: #1abc9c;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.slider{
    position: relative;
    display: inline-block;
    width: auto;
    height: 600px;
    margin: 0 auto;
    padding: 0;
    background-color: black;
}
.slider li{
    list-style-type: none;
    width: auto;
    margin: 0;
    padding: 0;

}
.slider img{
    display: inline-block;
    width: auto;
    opacity: 0.5;
    padding: 0;
    margin: 0;
}
.h2-slider{
    position: absolute;
    top: 210px;
    left: 435px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    font-size: 60px;
    line-height: 45px;
    margin: 0;
    padding: 0;
}    
.description{
    position: absolute;
    top: 295px;
    left: 435px;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
.left{
    position: absolute;
    top: 225px;
    left: 245px;
    z-index: 2;
    background-color: #1abc9c;
    width: 100px;
    height: 100px;
    border: none;
    background-image: url(../img/arrow-left.png);
}
.right{
    position: absolute;
    top: 225px;
    right: 245px;
    z-index: 2;
    background-color: #1abc9c;
    width: 100px;
    height: 100px;
    border: none;
    background-image: url(../img/arrow-right.png);
}
main ul button:hover{
    opacity: 0.5;
}
section {
    background-color:#e9f0fd;
}
.new-col-h3{
    text-align: center;
    font-family: "Roboto";
    font-size: 48px;
    line-height: 48px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 auto 90px auto;
    padding-top: 100px;
}
h3 section{
    font-size: 48px;
}
h3 + ul{
    margin: 0;
    padding-bottom: 100px;
}
.new-col-h3::after{
    display: block;
    margin: 30px auto;
    content: "";
    width: 165px;
    height: 10px;
    background: #1abc9c;
}

.name{
    display: inline-block;
    width: 200px;
    height: 40px;
    text-transform: uppercase;
    background: #323232;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 900;
    text-align: left;
    text-indent: 10px
}
.price{
    display: inline-block;
    width: 55px;
    height: 40px;
    text-transform: uppercase;
    background: #8c8c8c;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
}
.item:not(:nth-last-child(-n+1)) {
    margin: 0 26px 0 0;
}
.item{
    position: relative;
    display: inline-block;
    width: 255px;
    height: 322px;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 0; 
}
.item img{
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 0; 
    width: 255px;
    height: 282px;
}

.overlay{
    display: none;
    position: absolute;
    width: 235px;
    height: 260px;
    background: rgba(0, 0, 0, 0.5);
    top: 10px;
    left: 10px;
}
.overlay ul{
    display: inline-block;
    padding: 71px 0;
    list-style: none;    
}
.overlay li{
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0 7px 7px 0; 
    border: solid 1px #ffffff;
    vertical-align: middle;
}
.overlay .cart{
    display: inline-block;
    height: 50px;
    width: 170px;
    border: solid 1px #ffffff;
    margin: 0 7px 0 0; 
    font-size: 14px;
    font-family: "Open Sans";
    text-align: start;
    background: #323232;
    color: #ffffff;
    line-height: 50px;
}
.cart p{
    display: inline-block;
    height: 50px;
    width: 90px;
    margin: 0px;
    padding: 0 0 0 15px;
    line-height: 50px;
}
.overlay li:hover{
    background: #1abc9c;
}
.cart div{
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    width: 50px;
}
.overlay img{
    height: 50px;
    width: 50px;
}
.cart img{
    display: inline-block;
    margin: 0px;
    height: 50px;
    width: 50px;
}

.item a:hover .price{
    background: #7fd9c7;
}
.item a:hover .name{
    background: #1abc9c;
}
.item a:hover img{
   opacity: 0.5;
}
.item a:hover .overlay{
    display: inline-block;
}
footer{
    background-color: #323232;
    height: 90px;
    width: 100%;
    font-family: "Open Sans";
    font-size: 16px;
    color: #ffffff;
    line-height: 90px;
    text-align: center;
}
span{
    color: #1abc9c;
}
















