html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  font-family: "Roboto", "Montserrat", "Kaushan Script", "sans-serif";
  font-size: 14px;
}

.wrapper{
  width: 1200px;
  margin: 0 auto;
}
