body{
    font-family: "Playfair Display", "Ubuntu", "sans-serif";
    color: rgb(98, 98, 98);
    font-size: 14px;
    line-height: 24px;
}
.container{
    width: 900px;
    margin: 0px auto;
}
.nav-list a{
    text-transform: uppercase;
    text-decoration: none;
    color:rgb(98, 98, 98);
}
.nav-list li{
    display: inline-block;
    margin: 50px 10px 0px 110px ;
    
}
.wrapper{
    font-size: 0px;
    width: 900px;
    text-align: justify;
}
.article{
    display: inline-block;
    width: 419px;
    margin: 83px auto 30px auto;
}
.article-last{
    display: inline-block;
    width: 419px;
    margin: 83px auto 30px 62px;
}
.item-nav{
    font-family: "Ubuntu";
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color:rgb(180, 173, 158);
    margin: 0px;
}
.wrapper h2{
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    color:rgb(98, 98, 98);
    margin: 0px;
}
.section-about{
    font-family: "Playfair Display";
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-transform: none;
    color:rgb(98, 98, 98);
    margin: 0px;
}
.img-sect, .item-nav, .section-about, .wrapper h2{
    margin-bottom: 30px;
}
.button-load-more{
    display: block;
    font-family: "Playfair Display";
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    text-transform: none;
    color:rgb(98, 98, 98);
    background-color: rgb(255, 255, 255);
    border-color: rgb(98, 98, 98);
    border-style: solid;
    border-width: 1px;
    padding: 18px 35px;
    margin: auto;
    margin-left: 360px;
}
button:hover{
    background-color:rgb(3, 169, 244);
    color: rgb(0, 0, 0);
}
a:hover{
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color:rgb(3, 169, 244);
    font-style: normal;
    text-decoration: none;
}
footer{
    padding: 35px;
}
