%link {
  display: inline-block;
  text-decoration: none;
}

%list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

%title-service-team{
  display: block;
  text-align: center;
  margin: 0 auto 64px;
  font-family: $font-montserrat;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
}

%title-service-team--after{
  display: block;
  content: "";
  background: #f38181;
  height: 3px;
  width: 60px;
  line-height: 24px;
  margin: 40px auto 0;
}

%main-font{
  font-size: 14px;
  background-color: $color-white;
}
