$color-coral: #f38181;
$color-oliv: #fce38a;
$color-black: #000;
$color-white: #fff;
$color-aqa: #95e1d3;
$color-font: #e7e7e7;
$font-montserrat: 'Montserrat', Arial, Helvetica, sans-serif;
$font-kaushan: "Kaushan Script", Arial, Helvetica, sans-serif;
$font-roboto: "Roboto", Arial, Helvetica, sans-serif;
